@import url("https://rsms.me/inter/inter.css");
:root {
    --almost-black: #212121;
    --almost-white: #F4F4F4;
    --half-opaque-white: #FFFFFF80;
    --half-opaque-black: #00000080;
    --blue-pop: #2BA9B8;
    --cyro-green: #BFD630;
}
body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom right, var(--blue-pop), var(--cyro-green));
    font-family: "Inter", sans-serif;
    color: var(--almost-black);
    font-size: x-large;
}
@supports (font-variation-settings: normal) {
    body { 
        font-family: 'Inter var', sans-serif;
    }
}
nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    min-height: 45px;
    max-height: 65px;
    height: 5%;
    background-color: var(--half-opaque-white);
    list-style-type: none;
}
@media (prefers-color-scheme: dark) {
    nav{
        background-color: var(--half-opaque-black);
        color: var(--almost-white);
    }
}
nav li {
    margin: 0 1.25% 0 1.25%;
}
a {
    color: inherit;
    text-decoration: none;
    transition: font-weight .2s;
}
a:hover, a.current {
    font-weight: bold;
}
@media screen and (max-width: 800px) {
    .hide-if-mobile {
        display: none;
    }
}
.main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--almost-black);
}
.centre-logo {
    user-select: none;
    margin: 2.5%;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    border-radius: 100%;
    font-size: 15rem;
    width: 20rem;
    height: 20rem;
    color: var(--almost-black);
    background-color: var(--almost-white);
}